*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    /*--slider_padding: 5rem; */
    
}

body {
    margin: 0;
    background-color: rgb(156, 156, 156);
}

.container {
    display: flex;
    justify-content: center;
}

.slider {
    display: flex;
    flex-grow: 1;
    transform: translateX(-00%)
}

.slider > img {
    flex: 0 0 25%;
    max-width: 25%;
    aspect-ratio: 16 / 9;
    padding: .25rem;
    border-radius: .5rem;
    overflow: hidden;
}


.handle {
    border: none;
    border-radius: .5rem;
    flex-grow: 0;
    width: 5rem;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10;
    margin: .25rem 0;
    cursor: pointer;
    /*Not perfectly centered, close enough*/
    font-size: 2.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
     transition: background-color 150ms ease-in-out;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.handle:hover,
.handle:focus {
    background-color: rgba(0, 0, 0, .6);
}

.text {
    transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus {
    transform: scale(1.2);
}
